@keyframes ripple-effect {
    to {
        transform: scale(1.5);
        opacity: 0;
    }
}


.language-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    padding: 15px;
    border-radius: 7pt;
    overflow: hidden;
}
.language-button img {
    width: 35px;
    pointer-events: none;
    user-select: none;
}
.language-button-tooltip {
    position: fixed;
    background-color: white;
    color: #282C34;
    padding: 6px 11px;
    border-radius: 7pt;
    font-size: 16px;
    white-space: nowrap;
    transform: scale(0.6);
    opacity: 0;
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    pointer-events: none;
    border: #282C34 thin solid;
    user-select: none;
}
.language-button-tooltip.visible {
    position: fixed;
    transform: scale(1);
    opacity: 1;
}

.ripple {
    position: absolute;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    transform: scale(0);
    animation: ripple-effect 0.6s linear;
    pointer-events: none;
}
.language-button.light-theme .ripple {
    background: rgba(40, 44, 52, 0.4);
}



