@keyframes sliderShowUp {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


.slider-container {
    width: 80%;
    margin-top: 29%;
    min-width: 320px;

    animation: sliderShowUp 1.1s cubic-bezier(.1, .3, .3, 1);
    opacity: 0;
    transform: translateX(-110%);
}
.slider {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    /*width: 80%;
    margin-top: 29%;
    min-width: 320px;*/
}
.slider-monitor {
    width: 100%;
    pointer-events: none;
    user-select: none;
}
.slider-img {
    position: absolute;
    object-fit: contain;
    transition: opacity .8s cubic-bezier(.4,0,.2,1);
    pointer-events: none;
    aspect-ratio: 1/1;
}


@media (max-width: 1400px) {
    .slider-container {
        margin-top: 34%;
    }
}
@media (max-width: 1300px) {
    .slider-container {
        margin-top: 38%;
    }
}
@media (max-width: 1200px) {
    .slider-container {
        margin-top: 42%;
    }
}
@media (max-width: 1100px) {
    .slider-container {
        margin-top: 47%;
    }
}
@media (max-width: 1000px) {
    .slider-container {
        margin-top: 52%;
    }
}
@media (max-width: 959px) {
    .slider-container {
        margin-top: 10%;
        margin-bottom: 20%;
    }
}

@media (max-width: 399px) {
    .slider-container {
        min-width: 230px;
    }
}

@media (pointer: coarse) {
    .slider-container {
        pointer-events: none;
    }
}



