.ThemeButton {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7pt;
    user-select: none;
    overflow: hidden;
    cursor: pointer;
    height: 53px;
}
.ThemeButton .ripple {
    position: absolute;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    transform: scale(0);
    animation: ripple-effect 0.6s linear;
    pointer-events: none;
}
.ThemeButton.light-theme .ripple {
    background: rgba(40, 44, 52, 0.4);
}

.ThemeButton-tooltip {
    position: fixed;
    background-color: white;
    color: #282C34;
    padding: 6px 11px;
    border-radius: 7pt;
    font-size: 16px;
    white-space: nowrap;
    transform: scale(0.6);
    opacity: 0;
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    pointer-events: none;
    border: #282C34 thin solid;
    user-select: none;
}
.ThemeButton:hover .ThemeButton-tooltip {
    position: fixed;
    transform: scale(1);
    opacity: 1;
}


/* The switch - the box around the slider */
.ThemeButton .switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 50%;
    height: 53%;
}
  
  /* Hide default HTML checkbox */
.ThemeButton .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
  /* The slider */
.ThemeButton .slider {
    --background: #28096b;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background);
    transition: .5s;
    border-radius: 30px;
}
  
.ThemeButton .slider:before {
    position: absolute;
    content: "";
    height: 72%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    left: 8%;
    bottom: 15%;
    box-shadow: inset 8px -4px 0px 0px #fff000;
    background: var(--background);
    transition: .5s;
}
  
.ThemeButton input:checked + .slider {
    background-color: #522ba7;
}
  
.ThemeButton input:checked + .slider:before {
    transform: translateX(118%);
    box-shadow: inset 15px -4px 0px 15px #fff000;
}

@media (max-width: 959px) {
    .ThemeButton {
        width: 100%;
    }
}



