@keyframes animation-welcome {
    to {
        transform: scale(5);
        opacity: 0;
        display: none;
    }
}
@keyframes pulse {
    from {
      transform: scale3d(1, 1, 1);
    }
    50% {
      transform: scale3d(1.1, 1.1, 1.1);
    }
    to {
      transform: scale3d(1, 1, 1);
    }
}

html, body {
    height: 100%;
    margin: 0;
}
.preloader {
    animation-name: animation-welcome;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-fill-mode: forwards;
    animation-delay: .15s;
}
.preloader-logo {
    animation: pulse 1.1s infinite;
}

body {
    font-family: 'Actay', sans-serif;
    transition: background 0.7s ease;
}



